.navbar{
    /* border : 3px solid black; */
    padding : 1rem;
    background-color : var(--primary-color);
}

.navbar-sticky{
    position: sticky;
    top : 0;
    z-index: 800;
}

.navbar-heading{
    font-family: 'Staatliches', cursive;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}