.quiz-question-container{
    width : 60%;
}

.quiz-question-card-container{
    border-radius: 15px;
    background-color : var(--post-color);
    padding : 2rem;
    /* height  : 20rem; */
}

.quiz-question-section{
    padding : 1rem;
    border-radius: 15px;
    background-color : var(--primary-color);   
}

.quiz-option{
    padding : 1rem;
    border-radius : 15px;
    width : 40rem;
    background-color : var(--primary-color);
}

.quiz-nav-link{
    padding : 0.2rem;
}

.quiz-nav-link:hover{
    border-bottom: 3px solid var(--btn-color);
}



/* .quiz-title-container{
    margin-top : 2rem;
} */

/* .quiz-form-container{
    
} */
/* 
.submit-btn-container{
    margin-top : 2rem;
} */

/* .quiz-title-sticky{
    position: sticky;
    top : 6.5rem;
    z-index : 900;
    background-color : var(--primary-color);
    padding : 1rem;
    border-radius: 10px;
} */

.submit-btn{
    outline : none;
    border : none;
    color : var(--primary-color);
    padding : 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 20px;
    font-family: var(--component-heading-font);
    background-color : var(--btn-color);
    cursor : pointer;
}

.submit-btn:hover{
    background-color : #ffee01cf;
}