.quiz-title-text{
    margin-top : 5rem;
}

.rules-section{
    margin-top: 3rem;
}

.categories-section{
    margin-top : 3rem;
}

.categories{
    width: 80%;
    margin : 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}